<html>
    <body>
        <form method="POST" action="/api/user">
            <label for="">Firstname</label>
            <input type="text" name="firstname" id=""><br>
            <label for="">Lastname</label>
            <input type="text" name="Lastname" id=""><br>
            <input type="submit">
        </form>
    </body>
</html>
